#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Merriweather', serif;
  /* font-family: 'Open Sans', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.number-section_current-number {
  animation: fadeIn linear 3s;
}

.btn {
  height: 50px;
  width: 120px;
  background-color: white;
  box-shadow: none;
  border: 1px solid blue;
  font-size: 1.2rem;
}

@keyframes fadeIn {
  0% { opacity: 0; };
  100% { opacity: 1; };
}